.contextualMenu {
    font-size: 13px;
    position: absolute;
    padding: 8px 0;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: rgba(0, 0, 0, 0.25) 0 0 20px;
    border-radius: 5px;
    margin:0;
    list-style: none;
    color: #1b1b1b;
    overflow: hidden;
}

.contextualMenuHidden {
    left: 100% !important;
}

.contextualMenuItem {
    display: block;
    padding: 5px 8px;
    cursor: default;
}

.contextualMenuItem:hover {
    background: #eee;
    cursor: pointer;
}

.contextualMenuItemIcon {
    float: left;
    width:16px;
    height: 16px;
}


.contextualMenuItemTitle {
    text-align: left;
    line-height: 16px;
    display: inline-block;
    padding: 0px 0px 0px 7px;
}

.contextualMenuItemTip {
    float: right;
    padding: 0px 0px 0px 50px;
    text-align: right;
    line-height: 16px;
}

.contextualMenuItemOverflow {
    float: right;
    width:16px;
    height: 16px;
    padding: 1px 0px 0px 7px;
}

.contextualMenuItemOverflow .contextualMenuItemOverflowLine {
    display: block;
    height: 1px;
    margin: 3px 2px;
    background: #999;
}

.contextualMenuItemOverflow.hidden {
    display: none;
}

.contextualMenuSeperator {
    display: block;
    padding: 5px 5px;
}

.contextualMenuSeperator div {
    width:100%;
    height:1px;
    background: #999;
}

.contextualSubMenu {
    padding: 0;
    margin: 0;
    list-style: none;
    background: rgb(37, 37, 38);
    position: absolute;
    top: 0;
    min-height: 100%;
    width: 100%;
    left: 0;
    transition: left 0.25s;
 }
 
.contextualSubMenu .contextualMenuItem:hover {
    background: #eee;
    cursor: pointer;
}

.contextualHeader {
    border-bottom: 1px solid #999;
}

.contextualHeader input {
    background: transparent;
    color: #cccccc;
    border:none;
    width: 30px;
    height: 30px;
    position: absolute;
    left:0;
    font-weight: bold;
}

.contextualHeader input:hover {
    background: #080a79;
}

.contextualHeader span {
    width:100%;
    text-align: center;
    display: inline-block;
    line-height: 30px;
    font-weight: bold;
}