<?xml version="1.0" encoding="utf-8"?>
<config>

	<fieldset name="general" label="COM_QUANTUMMANAGER_CONFIG_GENERAL" description="COM_QUANTUMMANAGER_CONFIG_GENERAL_DESC">

		<field type="hidden"
			   name="helpURL"
			   default="https://norrnext.com/docs/joomla-extensions/quantum-manager"
		/>

		<field type="note"
			   label="COM_QUANTUMMANAGER_CONFIG_GENERAL_DOCS_LABEL"
			   description="COM_QUANTUMMANAGER_CONFIG_GENERAL_DOCS_DESC"
			   class="alert alert-info"
		/>

		<field type="spacer"
			   name="spacer_scopes"
			   label="COM_QUANTUMMANAGER_CONFIG_GENERAL_SPACER_SCOPES"
			   filter="unset"
		/>

		<field type="note"
			   label="COM_QUANTUMMANAGER_CONFIG_GENERAL_PATH_VARIABLES_LABEL"
			   description="COM_QUANTUMMANAGER_CONFIG_GENERAL_PATH_DESC"
			   class="alert alert-info"
		/>

		<field name="scopes"
			   type="subform"
			   label="COM_QUANTUMMANAGER_CONFIG_GENERAL_SCOPES_LABEL"
			   buttons=" "
			   multiple="true"
			   default='{"scopes0":{"id":"images","title":"Images","enable":"1","path":"images"},"scopes1":{"id":"docs","title":"Docs","enable":"0","path":"docs"},"scopes2":{"id":"music","title":"Music","enable":"0","path":"music"},"scopes3":{"id":"videos","title":"Videos","enable":"0","path":"videos"}}'
			   addfieldpath="/administrator/components/com_quantummanager/fields">
			<form>
				<field
						name="id"
						type="hidden"
						label="ID"
				/>
				<field
						name="title"
						type="quantumconfigscopetitle"
						label="COM_QUANTUMMANAGER_CONFIG_GENERAL_SCOPES_NAME_LABEL"
						disabled="disabled"
				/>
				<field name="enable"
					   type="radio"
					   label="COM_QUANTUMMANAGER_CONFIG_GENERAL_SCOPES_ENABLE_LABEL"
					   class="btn-group btn-group-yesno"
					   default="1">
					<option value="1">JYES</option>
					<option value="0">JNO</option>
				</field>
				<field
						name="path"
						type="quantumconfigpath"
						label="COM_QUANTUMMANAGER_CONFIG_GENERAL_SCOPES_PATH_LABEL"
				/>
			</form>
		</field>

		<field name="scopescustom"
			   type="subform"
			   label="COM_QUANTUMMANAGER_CONFIG_GENERAL_SCOPES_CUSTOM_LABEL"
			   multiple="true"
			   addfieldpath="/administrator/components/com_quantummanager/fields">
			<form>
				<field
						name="title"
						type="text"
						label="COM_QUANTUMMANAGER_CONFIG_GENERAL_SCOPES_NAME_LABEL"
				/>
				<field
						name="path"
						type="quantumconfigpath"
						label="COM_QUANTUMMANAGER_CONFIG_GENERAL_SCOPES_PATH_LABEL"
				/>
				<field
						name="id"
						type="hidden"
						label="ID"
				/>
			</form>
		</field>

		<field type="spacer"
			   name="spacer_files"
			   label="COM_QUANTUMMANAGER_CONFIG_GENERAL_SPACER_FILES"
			   filter="unset"
		/>

		<field name="maxsize"
			   type="text"
			   label="COM_QUANTUMMANAGER_CONFIG_GENERAL_MAXSIZE_LABEL"
			   description="COM_QUANTUMMANAGER_CONFIG_GENERAL_MAXSIZE_DESC"
			   required="true"
			   default="10"
		/>

		<field name="maxsizefilename"
			   type="number"
			   required="true"
			   label="COM_QUANTUMMANAGER_CONFIG_GENERAL_MAXSIZEFILENAME_LABEL"
			   description="COM_QUANTUMMANAGER_CONFIG_GENERAL_MAXSIZEFILENAME_DESC"
			   default="63"
		/>

		<field name="postfix"
			   type="radio"
			   label="COM_QUANTUMMANAGER_CONFIG_GENERAL_POSTFIX_LABEL"
			   description="COM_QUANTUMMANAGER_CONFIG_GENERAL_POSTFIX_DESC"
			   required="true"
			   class="btn-group btn-group-yesno"
			   default="0">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

		<field name="translit"
			   type="radio"
			   label="COM_QUANTUMMANAGER_CONFIG_GENERAL_TRANSLIT_LABEL"
			   description="COM_QUANTUMMANAGER_CONFIG_GENERAL_TRANSLIT_DESC"
			   required="true"
			   class="btn-group btn-group-yesno"
			   default="0">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

		<field name="contentcheck"
			   type="radio"
			   label="COM_QUANTUMMANAGER_CONFIG_GENERAL_CHECK_LABEL"
			   description="COM_QUANTUMMANAGER_CONFIG_GENERAL_CHECK_DESC"
			   required="true"
			   class="btn-group btn-group-yesno"
			   default="1">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

		<field name="mimetype"
			   type="textarea"
			   label="COM_QUANTUMMANAGER_CONFIG_GENERAL_MIMETYPE_LABEL"
			   description="COM_QUANTUMMANAGER_CONFIG_GENERAL_MIMETYPE_DESC"
			   rows="15"
		/>

		<field type="spacer"
			   name="spacer_metadata"
			   label="COM_QUANTUMMANAGER_CONFIG_GENERAL_SPACER_METADATA"
			   filter="unset"
		/>

		<field name="metafile"
			   type="radio"
			   label="COM_QUANTUMMANAGER_CONFIG_GENERAL_METAFILE_LABEL"
			   description="COM_QUANTUMMANAGER_CONFIG_GENERAL_METAFILE_DESC"
			   required="true"
			   class="btn-group btn-group-yesno"
			   default="1">
			<option value="1">COM_QUANTUMMANAGER_ACTION_SHOW</option>
			<option value="0">COM_QUANTUMMANAGER_ACTION_HIDE</option>
		</field>

		<field name="metafileextended"
			   type="radio"
			   label="COM_QUANTUMMANAGER_CONFIG_GENERAL_METAFILE_EXTENDED_LABEL"
			   description="COM_QUANTUMMANAGER_CONFIG_GENERAL_METAFILE_EXTENDED_DESC"
			   required="true"
			   class="btn-group btn-group-yesno"
			   default="0"
			   showon="metafile:1">
			<option value="1">COM_QUANTUMMANAGER_ACTION_SHOW</option>
			<option value="0">COM_QUANTUMMANAGER_ACTION_HIDE</option>
		</field>

		<field name="metafileshowpath"
			   type="radio"
			   label="COM_QUANTUMMANAGER_CONFIG_GENERAL_METAFILE_SHOWPATH_LABEL"
			   description="COM_QUANTUMMANAGER_CONFIG_GENERAL_METAFILE_SHOWPATH_DESC"
			   required="true"
			   class="btn-group btn-group-yesno"
			   default="0"
			   showon="metafile:1">
			<option value="1">COM_QUANTUMMANAGER_ACTION_SHOW</option>
			<option value="0">COM_QUANTUMMANAGER_ACTION_HIDE</option>
		</field>

		<field type="spacer"
			   name="spacer_general"
			   label="COM_QUANTUMMANAGER_CONFIG_GENERAL_SPACER_GENERAL"
			   filter="unset"
		/>

		<field name="front"
			   type="radio"
			   label="COM_QUANTUMMANAGER_CONFIG_GENERAL_FRONT_LABEL"
			   description="COM_QUANTUMMANAGER_CONFIG_GENERAL_FRONT_DESC"
			   required="true"
			   class="btn-group btn-group-yesno"
			   default="0">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

		<field name="dropareahidden"
			   type="radio"
			   label="COM_QUANTUMMANAGER_CONFIG_GENERAL_DROPAREAHIDDEN_LABEL"
			   description="COM_QUANTUMMANAGER_CONFIG_GENERAL_DROPAREAHIDDEN_DESC"
			   required="true"
			   class="btn-group btn-group-yesno"
			   default="0">
			<option value="0">COM_QUANTUMMANAGER_ACTION_SHOW</option>
			<option value="1">COM_QUANTUMMANAGER_ACTION_HIDE</option>
		</field>

		<field name="help"
			   type="radio"
			   label="COM_QUANTUMMANAGER_CONFIG_GENERAL_HELP_LABEL"
			   description="COM_QUANTUMMANAGER_CONFIG_GENERAL_HELP_DESC"
			   required="true"
			   class="btn-group btn-group-yesno"
			   default="1">
			<option value="1">COM_QUANTUMMANAGER_ACTION_SHOW</option>
			<option value="0">COM_QUANTUMMANAGER_ACTION_HIDE</option>
		</field>

		<field name="review"
			   type="radio"
			   label="COM_QUANTUMMANAGER_CONFIG_GENERAL_REVIEW_LABEL"
			   description="COM_QUANTUMMANAGER_CONFIG_GENERAL_REVIEW_DESC"
			   required="true"
			   class="btn-group btn-group-yesno"
			   default="1">
			<option value="1">COM_QUANTUMMANAGER_ACTION_SHOW</option>
			<option value="0">COM_QUANTUMMANAGER_ACTION_HIDE</option>
		</field>

	</fieldset>

	<fieldset name="image" label="COM_QUANTUMMANAGER_CONFIG_IMAGE" description="COM_QUANTUMMANAGER_CONFIG_IMAGE_DESC">

		<field name="unsplash"
			   type="radio"
			   label="COM_QUANTUMMANAGER_CONFIG_IMAGE_UNSPLASH_LABEL"
			   description="COM_QUANTUMMANAGER_CONFIG_IMAGE_UNSPLASH_DESC"
			   required="true"
			   class="btn-group btn-group-yesno"
			   default="1">
			<option value="1">COM_QUANTUMMANAGER_ACTION_ENABLE</option>
			<option value="0">COM_QUANTUMMANAGER_ACTION_DISABLE</option>
		</field>

		<field name="pixabay"
			   type="radio"
			   label="COM_QUANTUMMANAGER_CONFIG_IMAGE_PIXABAY_LABEL"
			   description="COM_QUANTUMMANAGER_CONFIG_IMAGE_PIXABAY_DESC"
			   required="true"
			   class="btn-group btn-group-yesno"
			   default="1">
			<option value="1">COM_QUANTUMMANAGER_ACTION_ENABLE</option>
			<option value="0">COM_QUANTUMMANAGER_ACTION_DISABLE</option>
		</field>

		<field name="pexels"
			   type="radio"
			   label="COM_QUANTUMMANAGER_CONFIG_IMAGE_PEXELS_LABEL"
			   description="COM_QUANTUMMANAGER_CONFIG_IMAGE_PEXELS_DESC"
			   required="true"
			   class="btn-group btn-group-yesno"
			   default="1">
			<option value="1">COM_QUANTUMMANAGER_ACTION_ENABLE</option>
			<option value="0">COM_QUANTUMMANAGER_ACTION_DISABLE</option>
		</field>

		<field name="original"
			   type="radio"
			   label="COM_QUANTUMMANAGER_CONFIG_IMAGE_ORIGINAL_LABEL"
			   description="COM_QUANTUMMANAGER_CONFIG_IMAGE_ORIGINAL_DESC"
			   required="true"
			   class="btn-group btn-group-yesno"
			   default="0">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

		<field name="originalresize"
			   type="radio"
			   label="COM_QUANTUMMANAGER_CONFIG_IMAGE_ORIGINALRESIZE_LABEL"
			   description="COM_QUANTUMMANAGER_CONFIG_IMAGE_ORIGINALRESIZE_DESC"
			   required="true"
			   class="btn-group btn-group-yesno"
			   default="0"
			   showon="original:1">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

		<field name="resize"
			   type="radio"
			   label="COM_QUANTUMMANAGER_CONFIG_IMAGE_RESIZE_LABEL"
			   description="COM_QUANTUMMANAGER_CONFIG_IMAGE_RESIZE_DESC"
			   required="true"
			   class="btn-group btn-group-yesno"
			   default="0">
			<option value="1">COM_QUANTUMMANAGER_ACTION_ENABLE</option>
			<option value="0">COM_QUANTUMMANAGER_ACTION_DISABLE</option>
		</field>

		<field name="rezizemaxwidth"
			   type="text"
			   label="COM_QUANTUMMANAGER_CONFIG_IMAGE_RESIZE_MAXWIDTH_LABEL"
			   description="COM_QUANTUMMANAGER_CONFIG_IMAGE_RESIZE_MAXWIDTH_DESC"
			   required="true"
			   default="1980"
			   showon="resize:1"
		/>

		<field name="rezizemaxheight"
			   type="text"
			   label="COM_QUANTUMMANAGER_CONFIG_IMAGE_RESIZE_MAXHEIGHT_LABEL"
			   description="COM_QUANTUMMANAGER_CONFIG_IMAGE_RESIZE_MAXHEIGHT_DESC"
			   required="true"
			   default="1280"
			   showon="resize:1"
		/>

		<field name="exifsave"
			   type="radio"
			   label="COM_QUANTUMMANAGER_CONFIG_IMAGE_EXIFSAVE_LABEL"
			   description="COM_QUANTUMMANAGER_CONFIG_IMAGE_EXIFSAVE_DESC"
			   required="true"
			   class="btn-group btn-group-yesno"
			   default="0">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

		<field name="rotateexif"
			   type="radio"
			   label="COM_QUANTUMMANAGER_CONFIG_IMAGE_ROTATEEXIF_LABEL"
			   description="COM_QUANTUMMANAGER_CONFIG_IMAGE_ROTATEEXIF_DESC"
			   required="true"
			   class="btn-group btn-group-yesno"
			   default="0"
			   showon="exifsave:0"
		>
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

		<field name="overlay"
			   type="radio"
			   label="COM_QUANTUMMANAGER_CONFIG_IMAGE_OVERLAY_LABEL"
			   description="COM_QUANTUMMANAGER_CONFIG_IMAGE_OVERLAY_DESC"
			   required="true"
			   default="0"
			   class="btn-group">
			<option value="1">COM_QUANTUMMANAGER_CONFIG_IMAGE_OVERLAY_AUTO_LABEL</option>
			<option value="2">COM_QUANTUMMANAGER_CONFIG_IMAGE_OVERLAY_BUTTON_LABEL</option>
			<option value="0">JNO</option>
		</field>

		<field name="overlayfile"
			   type="media"
			   label="COM_QUANTUMMANAGER_CONFIG_IMAGE_OVERLAY_FILE_LABEL"
			   description="COM_QUANTUMMANAGER_CONFIG_IMAGE_OVERLAY_FILE_DESC"
			   folder="images"
			   default="images/joomla_black.png"
			   showon="overlay!:0"
		/>

		<field name="overlaypercent"
			   type="radio"
			   label="COM_QUANTUMMANAGER_CONFIG_IMAGE_OVERLAY_PERCENT_LABEL"
			   description="COM_QUANTUMMANAGER_CONFIG_IMAGE_OVERLAY_PERCENT_DESC"
			   required="true"
			   class="btn-group btn-group-yesno"
			   default="0"
			   showon="overlay!:0">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

		<field name="overlaypercentvalue"
			   type="text"
			   label="COM_QUANTUMMANAGER_CONFIG_IMAGE_OVERLAY_PERCENT_VALUE_LABEL"
			   description="COM_QUANTUMMANAGER_CONFIG_IMAGE_OVERLAY_PERCENT_VALUE_DESC"
			   default="10"
			   showon="overlaypercent:1[AND]overlay!:0"
		/>

		<field name="overlaypos"
			   type="list"
			   required="true"
			   label="COM_QUANTUMMANAGER_CONFIG_IMAGE_OVERLAY_POS_LABEL"
			   description="COM_QUANTUMMANAGER_CONFIG_IMAGE_OVERLAY_POS_DESC"
			   default="topleft"
			   showon="overlay!:0"
		>
			<option value="top-left">Top Left</option>
			<option value="top">Top center</option>
			<option value="top-right">Top right</option>
			<option value="left">Center left</option>
			<option value="center">Center center</option>
			<option value="right">Center right</option>
			<option value="bottom-left">Bottom left</option>
			<option value="bottom">Bottom center</option>
			<option value="bottom-right">Bottom right</option>
		</field>

		<field name="overlaypadding"
			   type="text"
			   label="COM_QUANTUMMANAGER_CONFIG_IMAGE_OVERLAY_PADDING_LABEL"
			   description="COM_QUANTUMMANAGER_CONFIG_IMAGE_OVERLAY_PADDING_DESC"
			   required="true"
			   default="10"
			   showon="overlay!:0"/>

		<field type="spacer"
			   name="spacer_image_editor"
			   label="COM_QUANTUMMANAGER_CONFIG_IMAGE_SPACER_IMAGE_EDITOR"
			   filter="unset"
		/>

		<field name="compression"
			   type="number"
			   label="COM_QUANTUMMANAGER_CONFIG_IMAGE_COMPRESSION_LABEL"
			   description="COM_QUANTUMMANAGER_CONFIG_IMAGE_COMPRESSION_DESC"
			   default="90"
			   min="0"
			   max="100" />

		<field name="sharpen"
			   type="number"
			   label="COM_QUANTUMMANAGER_CONFIG_IMAGE_SHARPEN_LABEL"
			   description="COM_QUANTUMMANAGER_CONFIG_IMAGE_SHARPEN_DESC"
			   default="0"
			   min="0"
			   max="100" />

		<field name="brightness"
			   type="number"
			   label="COM_QUANTUMMANAGER_CONFIG_IMAGE_BRIGHTNESS_LABEL"
			   description="COM_QUANTUMMANAGER_CONFIG_IMAGE_BRIGHTNESS_DESC"
			   default="0"
			   min="-100"
			   max="100" />

		<field name="blur"
			   type="number"
			   label="COM_QUANTUMMANAGER_CONFIG_IMAGE_BLUR_LABEL"
			   description="COM_QUANTUMMANAGER_CONFIG_IMAGE_BRIGHTNESS_DESC"
			   default="0"
			   min="0"
			   max="100" />

		<field name="custompresetscrop"
			   type="subform"
			   label="COM_QUANTUMMANAGER_CONFIG_IMAGE_CUSTOMPRESETCROP"
			   layout="joomla.form.field.subform.repeatable-table"
			   multiple="true"
			   min="0"
			   max="20">
			<form>
				<field
					name="label"
					type="text"
					label="COM_QUANTUMMANAGER_CONFIG_IMAGE_CUSTOMPRESETCROP_NAME"
				/>
				<field
					name="ratio"
					type="number"
					label="COM_QUANTUMMANAGER_CONFIG_IMAGE_CUSTOMPRESETCROP_RATIO"
				/>
			</form>
		</field>

		<field type="spacer"
			   name="spacer_image_resize_folders"
			   label="COM_QUANTUMMANAGER_CONFIG_IMAGE_SPACER_RESIZE_FOLDERS"
			   filter="unset"
		/>

		<field name="resizefolders"
			   type="subform"
			   label="COM_QUANTUMMANAGER_CONFIG_IMAGE_RESIZE_FOLDERS"
			   layout="joomla.form.field.subform.repeatable-table"
			   multiple="true"
			   min="0"
			   max="20">
			<form>
				<field name="folder"
					   type="text"
					   label="COM_QUANTUMMANAGER_CONFIG_IMAGE_RESIZE_FOLDERS_FOLDER"
				/>
				<field name="subfolder"
					   type="radio"
					   label="COM_QUANTUMMANAGER_CONFIG_IMAGE_RESIZE_FOLDERS_SUBFOLDER"
					   class="btn-group btn-group-yesno"
					   default="0">
					<option value="1">JYES</option>
					<option value="0">JNO</option>
				</field>
				<field name="maxwidth"
					   type="text"
					   label="COM_QUANTUMMANAGER_CONFIG_IMAGE_RESIZE_FOLDERS_MAX_WIDTH"
				/>
				<field name="maxheight"
					   type="number"
					   label="COM_QUANTUMMANAGER_CONFIG_IMAGE_RESIZE_FOLDERS_MAX_HEIGHT"
				/>
				<field name="algorithm"
					   type="list"
					   label="COM_QUANTUMMANAGER_CONFIG_IMAGE_RESIZE_FOLDERS_ALGORITHM"
					   default="fit"
				>
					<option value="fit">COM_QUANTUMMANAGER_CONFIG_IMAGE_RESIZE_FOLDERS_ALGORITHM_FIT</option>
					<option value="bestfit">COM_QUANTUMMANAGER_CONFIG_IMAGE_RESIZE_FOLDERS_ALGORITHM_BEST_FIT</option>
					<option value="resize">COM_QUANTUMMANAGER_CONFIG_IMAGE_RESIZE_FOLDERS_ALGORITHM_RESIZE</option>
				</field>
			</form>
		</field>


		<field type="spacer"
			   name="spacer_previews"
			   label="COM_QUANTUMMANAGER_CONFIG_IMAGE_SPACER_PREVIEWS"
			   filter="unset"
		/>


		<field name="previewsfolder"
			   type="radio"
			   label="COM_QUANTUMMANAGER_CONFIG_IMAGE_PREVIEWSFOLDER_LABEL"
			   description="COM_QUANTUMMANAGER_CONFIG_IMAGE_PREVIEWSFOLDER_DESC"
			   class="btn-group btn-group-yesno"
			   default="1">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

		<field name="previewsfolderopen"
			   type="radio"
			   label="COM_QUANTUMMANAGER_CONFIG_IMAGE_PREVIEWSFOLDEROPEN_LABEL"
			   description="COM_QUANTUMMANAGER_CONFIG_IMAGE_PREVIEWSFOLDEROPEN_DESC"
			   class="btn-group btn-group-yesno"
			   default="1"
			   showon="previewsfolder:1">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>


		<field name="previewslist"
			   type="subform"
			   label="COM_QUANTUMMANAGER_CONFIG_IMAGE_PREVIEWSLLIST_LABEL"
			   description="COM_QUANTUMMANAGER_CONFIG_IMAGE_PREVIEWSLLIST_DESC"
			   layout="joomla.form.field.subform.repeatable-table"
			   multiple="true"
			   min="0"
			   max="20">
			<form>
				<field
					name="label"
					type="text"
					label="COM_QUANTUMMANAGER_CONFIG_IMAGE_PREVIEWSLLIST_NAME"
				/>
				<field
					name="width"
					type="number"
					label="COM_QUANTUMMANAGER_CONFIG_IMAGE_PREVIEWSLLIST_WIDTH"
				/>
				<field
					name="height"
					type="number"
					label="COM_QUANTUMMANAGER_CONFIG_IMAGE_PREVIEWSLLIST_HEIGHT"
				/>

				<field name="algorithm"
					   type="list"
					   label="COM_QUANTUMMANAGER_CONFIG_IMAGE_PREVIEWSLLIST_ALGORITHM"
					   default="fit"
				>
					<option value="fit">COM_QUANTUMMANAGER_CONFIG_IMAGE_PREVIEWSLLIST_ALGORITHM_FIT</option>
					<option value="resize">COM_QUANTUMMANAGER_CONFIG_IMAGE_PREVIEWSLLIST_ALGORITHM_RESIZE</option>
				</field>

			</form>
		</field>

	</fieldset>

	<fieldset name="colors" label="COM_QUANTUMMANAGER_CONFIG_COLORS" description="COM_QUANTUMMANAGER_CONFIG_COLORS_DESC">
		<field name="colorsfiles"
			   type="subform"
			   label="COM_QUANTUMMANAGER_CONFIG_COLORS_COLORSFILES_LABEL"
			   description="COM_QUANTUMMANAGER_CONFIG_COLORS_COLORSFILES_DESC"
			   layout="joomla.form.field.subform.repeatable-table"
			   multiple="true"
			   min="0">
			<form>
				<field
						name="ext"
						type="text"
						label="COM_QUANTUMMANAGER_CONFIG_COLORS_COLORSFILES_EXT_LABEL"
				/>
				<field
						name="main"
						type="color"
						label="COM_QUANTUMMANAGER_CONFIG_COLORS_COLORSFILES_MAIN_LABEL"
				/>
				<field
						name="fold"
						type="color"
						label="COM_QUANTUMMANAGER_CONFIG_COLORS_COLORSFILES_FOLD_LABEL"
				/>
			</form>
		</field>
	</fieldset>

	<fieldset name="profiles" label="COM_QUANTUMMANAGER_CONFIG_PROFILES" description="COM_QUANTUMMANAGER_CONFIG_PROFILES_DESC">

		<field name="profiles"
			   type="subform"
			   layout="joomla.form.field.subform.repeatable-table"
			   label="COM_QUANTUMMANAGER_CONFIG_PROFILES_VARIABLES"
			   multiple="true">
			<form>

				<field
						name="group"
						type="sql"
						label="COM_QUANTUMMANAGER_CONFIG_PROFILES_GROUP"
						query="SELECT id, title FROM #__usergroups"
						key_field="id"
						value_field="title"
				/>

				<field
						name="config"
						type="text"
						label="COM_QUANTUMMANAGER_CONFIG_PROFILES_CONFIG"
				/>

				<field
						name="value"
						type="textarea"
						label="COM_QUANTUMMANAGER_CONFIG_PROFILES_VALUE"
						cols="40"
						rows="8"
				/>

			</form>
		</field>

	</fieldset>

	<fieldset name="permissions" label="JCONFIG_PERMISSIONS_LABEL" description="JCONFIG_PERMISSIONS_DESC">

		<field name="rules"
			   type="rules"
			   label="JCONFIG_PERMISSIONS_LABEL"
			   filter="rules"
			   component="com_quantummanager"
			   section="component">
		</field>

	</fieldset>

</config>
